@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .content::before {
        content: "\" ";
    }
    .content::after {
        content: " \"";
    }
}

@layer utilities {
    @keyframes fadein {
        from  {
            opacity: 0;
            transform: translateY(-50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .animate-fade-in {
        animation: fadein 1s ease-in;
    }
}